ul.recently_purchased_products_for_woo li {

   display: inline-block;

   width: 100%;

   font-size: 15px;

}

ul.recently_purchased_products_for_woo span.rppw_product_date, ul.recently_purchased_products_for_woo span.rppw_product_price {

   display: block;

}

ul.recently_purchased_products_for_woo .rppw_product_title a {

   text-decoration: none;

}

ul.recently_purchased_products_for_woo.grid li {

   width: auto;

   margin-top: 10px;

}

.main_recently_purchased_products_for_woo {

   margin-top: 20px;

}

.main_recently_purchased_products_for_woo ul {

   padding: 0;

}

.main_recently_purchased_products_for_woo .rppw_order_title {

   padding: 10px 0;

}

.recently_purchased_products_for_woo.item-list-products {

   width: 100%;

   height: auto;

}

.recently_purchased_products_for_woo.item-list-products .prod-item {

   width: 100%;

   margin: 10px 0;

   padding: 10px;

}

.rppw-product-slider .slick-slide .slide-content {

   margin: 0 10%;

   padding: 50px 100px;

   background: #fff;

}

.rppw-product-slider .slick-list {

   margin: 20px 0px;

}

.rppw-product-slider .slick-prev, .rppw-product-slider .slick-next {

   position: absolute;

   right: 10%;

   background: #777;

   border: none;

   color: transparent;

   width: 30px;

   height: 30px;

}

.rppw-product-slider .slick-prev:before, .rppw-product-slider .slick-next:before {

   content: ">";

   color: #fff;

   font-size: 25px;

}

.rppw-product-slider .slick-prev {

   left: 10%;

}

.rppw-product-slider .slick-prev:before {

   content: "<";

}

.rppw-product-slider .slick-dots {

   list-style: none;

   margin: 0 auto;

   text-align: center;

}

.rppw-product-slider .slick-dots li {

   display: inline-block;

}

.rppw-product-slider .slick-dots li button {

   transition: 0.2s background-color ease-in-out 0s;

   border: none;

   padding: 0;

   color: transparent;

   width: 10px;

   height: 9px;

   background-color: #777;

   margin-right: 10px;

   border-radius: 50%;

}

.rppw-product-slider .slick-dots li.slick-active button {

   background-color: #fff;

}

.rpp_slider_box .slick-dots {

   position: absolute;

   bottom: -30px;

   display: block;

   width: 100%;

   padding: 0;

   margin: 0;

   list-style: none;

   text-align: center;

}

.rpp_slider_box .slick-dots li {

   position: relative;

   display: inline-block;

   width: 20px;

   height: 20px;

   margin: 0 5px;

   padding: 0;

   cursor: pointer;

}

.rpp_slider_box .slick-dots li button {

   font-size: 0;

   line-height: 0;

   display: block;

   width: 20px !important;

   height: 20px !important;

   padding: 5px !important;

   cursor: pointer !important;

   color: transparent !important;

   border: 0;

   outline: none !important;

   background: transparent !important;

}

.rpp_slider_box .slick-dots li button:before {

   font-family: 'slick';

   font-size: 10px;

   line-height: 20px;

   position: absolute;

   top: 0;

   left: 0;

   width: 20px;

   height: 20px;

   content: '•';

   text-align: center;

   opacity: .25;

   color: black;

   -webkit-font-smoothing: antialiased;

   -moz-osx-font-smoothing: grayscale;

}

.rpp_slider_box .slick-dots li.slick-active button:before {

   opacity: .75;

   color: black;

}

.rpp_slider_box .slick-prev, .rpp_slider_box .slick-next {

   font-size: 0;

   line-height: 0;

   position: absolute;

   top: 50%;

   display: block;

   width: 20px;

   height: 20px;

   padding: 0;

   -webkit-transform: translate(0, -50%);

   -ms-transform: translate(0, -50%);

   transform: translate(0, -50%);

   cursor: pointer;

   color: transparent;

   border: none;

   outline: none;

   z-index: 9;

   background: transparent;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_info_box {

   width: 100%;

   text-align: center;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_info_box .rppw_product_cart_button p.add_to_cart_inline {

   justify-content: center !important;

}

.rpp_slider_box .slick-prev {

   left: -25px;

}

.rpp_slider_box .slick-next {

   right: -25px;

}

.slick-prev:before, .slick-next:before {

   font-family: 'slick';

   font-size: 20px;

   line-height: 1;

   opacity: .75;

   color: white;

   -webkit-font-smoothing: antialiased;

   -moz-osx-font-smoothing: grayscale;

}

.rpp_slider_box .slick-prev:before {

   content: '←';

}

.rpp_slider_box .slick-next:before {

   content: '→';

}

.main_recently_purchased_products_for_woo {

   max-width: 1314px !important;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_4 {

   padding: 0;

   display: grid;

   grid-template-columns: repeat(4, 1fr);

   grid-column-gap: 10px;

   grid-row-gap: 10px;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_3 {

   padding: 0;

   display: grid;

   grid-template-columns: repeat(3, 1fr);

   grid-column-gap: 28px;

   grid-row-gap: 10px;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_2 {

   padding: 0;

   display: grid;

   grid-template-columns: repeat(2, 1fr);

   grid-column-gap: 0px;

   grid-row-gap: 10px;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_1 {

   padding: 0;

   display: grid;

   grid-template-columns: repeat(1, 1fr);

   grid-column-gap: 0px;

   grid-row-gap: 50px;

}

.rppw_product_img img {

   max-width: 200px;

   width: 100%;

   height: 200px;

   margin: 0 auto;

   object-fit: contain;

}

ul.recently_purchased_products_for_woo.grid .rppw_product_img img {

   max-width: 200px !important;

   width: 100% !important;

   height: 200px !important;

   object-fit: contain !important;

   margin-bottom: 0 !important;

}

ul.recently_purchased_products_for_woo.grid li {

   display: flex;

}

.main_recently_purchased_products_for_woo a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart, .main_recently_purchased_products_for_woo a.button.wp-element-button.product_type_variable.add_to_cart_button {

   padding: 5px 10px;

}

.rppw_product_info_box {

   display: flex;

   flex-direction: column;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_3 li {

   display: flex;

   align-items: flex-start;

}

.main_recently_purchased_products_for_woo span.product-customer-info, .main_recently_purchased_products_for_woo .rppw_product_customer_info, .main_recently_purchased_products_for_woo .rppw_product_category a, .main_recently_purchased_products_for_woo .rppw_product_category span.product-cat {

   font-weight: 500;

}

.main_recently_purchased_products_for_woo ul li {

   margin-bottom: 30px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .slider-item.slick-slide{

   display: flex !important;

   align-items: center !important;

   justify-content: center !important;

   flex-direction: column !important;

}

p.product.woocommerce.add_to_cart_inline {

   display: flex !important;

   justify-content: center !important;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .star-rating {

   margin: 0 auto;

   margin-top: 10px;

   margin-bottom: 10px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap p.product.woocommerce.add_to_cart_inline {

   margin-top: 10px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-next.slick-arrow, .main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-prev.slick-arrow {

   background: transparent !important;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-next:before, .main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-prev:before {

   color: #000000 !important;

   position: absolute;

   top: 9px;

   left: 10px;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_img img {

   float: unset;

}

ul.recently_purchased_products_for_woo.list li {

   display: flex;

   align-items: flex-start;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .rppw_product_img img {

   max-width: 200px;

   width: 100%;

   height: 120px;

   object-fit: contain;

   margin-bottom: 0;

}

footer.entry-footer.default-max-width {

   padding: 0;

}

.side-content {

   margin: 0;

   max-width: 500px;

   margin-left: 50px;

}

.widget .rpp_slider_box .slick-prev {

   left: 0;

}

.widget .rpp_slider_box .slick-next {

   right: 0;

}

.widget .recently_purchased_products_for_woo.item-list-products .slick-next:before, .widget .recently_purchased_products_for_woo.item-list-products .slick-prev:before {

   left: 7px;

}

.recently_purchased_products_for_woo.item-list-products .slick-next:before, .recently_purchased_products_for_woo.item-list-products .slick-prev:before {

   line-height: 25px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-next:before, .main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-prev:before {

    line-height: 25px;

}

ul.recently_purchased_products_for_woo.grid li:last-child .rppw_product_info_box {

   margin-left: 24px;

}

.recently_purchased_products_for_woo.item-list-products span.product-customer-info, .recently_purchased_products_for_woo.item-list-products .widget-option.rppw_product_category span.product-cat, .recently_purchased_products_for_woo.item-list-products .widget-option.rppw_product_category a, .recently_purchased_products_for_woo.item-list-products .rppw_product_customer_info {

   font-weight: 500;

   font-size: 15px;

}

.recently_purchased_products_for_woo.item-list-products .rppw_product_title a{

   font-size: 15px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-prev.slick-arrow {

   color: #000000 !important;

   border: 2px solid #000000 !important;

   border-radius: 50%;

   padding: 20px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-next.slick-arrow {

   color: #000000 !important;

   border: 2px solid #000000 !important;

   border-radius: 50%;

   padding: 20px;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap {

   width: 100% !important;

   margin-bottom: 50px !important;

   margin: 0 auto;

   margin-top: 50px;

}

.rppw_product_info_data {

   text-align: center;

}

ul.recently_purchased_products_for_woo.grid .alignleft {

   margin-right: 0px !important;

}

.main_recently_purchased_products_for_woo.rpp_slider_wrap .alignleft {

   margin-right: 0px !important;

}

span.product-cat, .main_recently_purchased_products_for_woo span.product-customer-info, .main_recently_purchased_products_for_woo .rppw_product_customer_info, .main_recently_purchased_products_for_woo .rppw_product_category a, .main_recently_purchased_products_for_woo .rppw_product_category span.product-cat, .rppw_product_title a, .rppw_product_date_box span.rppw_product_date {

   font-size: 16px;

}

.recently_purchased_products_for_woo.item-list-products .rppw_product_info span.rppw_product_date {

   font-size: 16px;

}

.recently_purchased_products_for_woo.item-list-products.rppw-product-slider.slick.slick-initialized.slick-slider.slick-dotted p.product.woocommerce.add_to_cart_inline, .recently_purchased_products_for_woo.item-list-products p.product.woocommerce.add_to_cart_inline {

   justify-content: center !important;

}

ul.recently_purchased_products_for_woo.grid span.rppw_product_date, ul.recently_purchased_products_for_woo.list span.rppw_product_date, .main_recently_purchased_products_for_woo.rpp_slider_wrap span.rppw_product_date, .recently_purchased_products_for_woo.item-list-products.rppw-product-slider.slick.slick-initialized.slick-slider.slick-dotted span.rppw_product_date, .recently_purchased_products_for_woo.item-list-products span.rppw_product_date {

   font-size: 15px !important;

}

ul.recently_purchased_products_for_woo.list li:last-child .rppw_product_info_box {

   margin-left: 8px;

}

ul.recently_purchased_products_for_woo.grid li {

   column-gap: 26px;

}

ul.recently_purchased_products_for_woo.grid li:last-child {

   column-gap: 0px;

}

.main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_4 li:last-child .alignleft {

   margin-right: 5px !important;

}

.main_recently_purchased_products_for_woo ul .alignleft {

   margin-right: 0 !important;

}

ul.recently_purchased_products_for_woo.list .rppw_product_info_box{

   margin-left: 26px !important;

}

a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart,

a.button.wp-element-button.product_type_variable.add_to_cart_button {

   font-size: 16px;

}

.recently_purchased_products_for_woo.item-list-products button.slick-next.slick-arrow,

.recently_purchased_products_for_woo.item-list-products button.slick-prev.slick-arrow {

   background: transparent !important;

}

.recently_purchased_products_for_woo.item-list-products button.slick-prev.slick-arrow {

   color: #000000 !important;

   border: 2px solid #000000 !important;

   border-radius: 50%;

   padding: 20px;

   font-size: 0 !important;

}

.recently_purchased_products_for_woo.item-list-products button.slick-next.slick-arrow {

   color: #000000 !important;

   border: 2px solid #000000 !important;

   border-radius: 50%;

   padding: 20px;

   font-size: 0 !important;

}

.recently_purchased_products_for_woo.item-list-products .slick-next:before,

.recently_purchased_products_for_woo.item-list-products .slick-prev:before {

   color: #000000 !important;

   position: absolute;

   top: 9px;

   left: 10px;

}

.list p.product.woocommerce.add_to_cart_inline {

   justify-content: start !important;

}

.widget .prod-item .rppw_product_ratings {

   display: block;

   width: 100%;

}

.widget .prod-item .rppw_product_ratings .star-rating {

   float: unset;

   margin: 10px auto;

}

.widget  .rppw_product_content span.rppw_product_cart_button {

   padding: 0 !important;

}



@media only screen and (max-width: 1365px) {

   .main_recently_purchased_products_for_woo {

      padding: 0 20px !important;

   }

}

.recently_purchased_products_for_woo.item-list-products .wid-img-box {

   display: block;

   text-align: center;

}



.recently_purchased_products_for_woo.item-list-products .rppw_product_img.rppw_image_box {

   /* width: 50%; */

}

.recently_purchased_products_for_woo.item-list-products .rppw_product_content {

   text-align: center;

}

.recently_purchased_products_for_woo.item-list-products .prod-item {

   /* align-items: center; */

}



@media only screen and (max-width: 1024px) {

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_3 {

      padding: 0;

      display: grid;

      grid-template-columns: repeat(2, 1fr);

      grid-column-gap: 28px;

      grid-row-gap: 10px;

   }

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_4 {

      padding: 0;

      display: grid;

      grid-template-columns: repeat(2, 1fr);

      grid-column-gap: 28px;

      grid-row-gap: 10px;

   }

   .main_recently_purchased_products_for_woo.rpp_slider_wrap .slider-item.slick-slide {

      width: 250px;

      margin-right: 15px;

   }

}

@media only screen and (max-width: 991px) {



   .main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-next:before,

   .main_recently_purchased_products_for_woo.rpp_slider_wrap .rpp_slider_box .slick-prev:before,

   .main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-prev.slick-arrow,

   .main_recently_purchased_products_for_woo.rpp_slider_wrap button.slick-next.slick-arrow {

      display: none !important;

   }

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_3 {

      padding: 0;

      display: grid;

      grid-template-columns: repeat(1, 1fr);

      grid-column-gap: 28px;

      grid-row-gap: 10px;

   }

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_4 {

      padding: 0;

      display: grid;

      grid-template-columns: repeat(1, 1fr);

      grid-column-gap: 28px;

      grid-row-gap: 10px;

   }

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_2 {

      padding: 0;

      display: grid;

      grid-template-columns: repeat(1, 1fr);

      grid-column-gap: 28px;

      grid-row-gap: 10px;

   }

   .main_recently_purchased_products_for_woo ul.recently_purchased_products_for_woo.grid.grid_cols_3 li {

      display: flex;

      align-items: flex-start;

      column-gap: 20px;

   }

   a.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart, a.button.wp-element-button.product_type_variable.add_to_cart_button {

      padding: 5px 5px;

      font-size: 16px;

   }

   .main_recently_purchased_products_for_woo.rpp_slider_wrap .slider-item.slick-slide {

      width: 110px;

      margin-right: 15px;

   }

   .main_recently_purchased_products_for_woo.rpp_slider_wrap {

      height: 500px;

   }

   div#qas_slider {

      height: auto;

      padding-bottom: 30px;

   }

   .rppw_product_img img {

      max-width: 150px;

      width: 100%;

      height: 200px;

      object-fit: contain;

      margin-bottom: 0;

   }

}



@media only screen and (max-width: 767px) {

   .main_recently_purchased_products_for_woo ul.list .add_to_cart_inline {

      justify-content: flex-start !important;

   }

   .widget .rppw_product_img img {

      margin: 0 auto;

   }

   .side-content{

      margin-left: 0;

   }

   .main_recently_purchased_products_for_woo div#qas_slider  {

      height: auto;

      padding-bottom: 30px;

      padding: 30px 10px;

   }

   .main_recently_purchased_products_for_woo.rpp_slider_wrap .rppw_product_img img {

      height: 200px;

   }

   .main_recently_purchased_products_for_woo.rpp_slider_wrap  .rppw_product_info_data {

      width: 100%;

   }

   .recently_purchased_products_for_woo.item-list-products .prod-item {

      flex-wrap: wrap;

   }

   .recently_purchased_products_for_woo.item-list-products .rppw_product_img.rppw_image_box {

      width: 100%;

   }

   .recently_purchased_products_for_woo.item-list-products .rppw_product_content {

      width: 100%;

      text-align: center;

   }

   .recently_purchased_products_for_woo.item-list-products .wid-img-box {

      display: block;

      text-align: center;

   }

   .recently_purchased_products_for_woo.item-list-products.rppw-product-slider.slick.slick-initialized.slick-slider.slick-dotted p.product.woocommerce.add_to_cart_inline,

   .recently_purchased_products_for_woo.item-list-products p.product.woocommerce.add_to_cart_inline {

      justify-content: center !important;

   }

}





.main_recently_purchased_products_for_woo .grid li {column-gap: 0;flex-wrap: wrap;}

.main_recently_purchased_products_for_woo .grid li .rppw_product_img {

   width: 100%;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_img a {

   display: block;

   width: 100%;

   height: 100%;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_img img {

   max-width: 100% !important;

}

.main_recently_purchased_products_for_woo .grid li  .rppw_product_info_box {

   margin-top: 10px;

}

.main_recently_purchased_products_for_woo .grid li:last-child .rppw_product_info_box {

   margin-left: 0 !important;

}

.main_recently_purchased_products_for_woo .grid li .rppw_product_info_box .rppw_product_cart_button {

   margin-top: 10px;

}

.main_recently_purchased_products_for_woo .list .rppw_product_img {

   width: 200px;

   text-align: center;

}

.main_recently_purchased_products_for_woo ul.list .rppw_product_info_box {

   width: calc(100% - 200px);

   padding-left: 20px;

   margin-left: 0 !important;

}

.main_recently_purchased_products_for_woo .list .rppw_product_img a {

   display: block;

   text-align: center;

}

.main_recently_purchased_products_for_woo .list .rppw_product_img a img {

   float: unset;

}

.widget .rppw_product_title {

   padding: 0 25px;

}

.widget .recently_purchased_products_for_woo.item-list-products.rppw-product-slider.slick.slick-initialized.slick-slider.slick-dotted p.product.woocommerce.add_to_cart_inline {

   justify-content: center !important;

}

.widget a.wid-img-box img {

   margin: 0 auto;

}

.widget .recently_purchased_products_for_woo.item-list-products.rppw-product-slider.slick.slick-initialized.slick-slider.slick-dotted p.product.woocommerce.add_to_cart_inline .ajax_add_to_cart {

   margin-left: 0;

}



@media screen and (max-width: 767px) {

   .main_recently_purchased_products_for_woo .list li{

      display: block !important;

   }

   .main_recently_purchased_products_for_woo .list li .rppw_product_img {

      width: 100%;

      margin-bottom: 10px;

   }

   .main_recently_purchased_products_for_woo .list li .rppw_product_img img {

      max-width: 200px;

   }

   .main_recently_purchased_products_for_woo ul.list .rppw_product_info_box {

      width: 100%;

      padding-left: 0;

   }

   .main_recently_purchased_products_for_woo .list .rppw_product_img a {

      text-align: left;

   }

   .main_recently_purchased_products_for_woo .grid li .rppw_product_info_box {

      width: 100%;

      text-align: center;

   }

   .main_recently_purchased_products_for_woo ul.grid.recently_purchased_products_for_woo.grid p.product.woocommerce.add_to_cart_inline {

      justify-content: center !important;

   }

   .main_recently_purchased_products_for_woo .grid li .rppw_product_img img {

      max-width: 240px !important;

      height: 240px !important;

   }

   .main_recently_purchased_products_for_woo .grid li .rppw_product_img a {

      text-align: center;

   }

}